header {
  background-color: #000;  
}

header .title-header {
  color: #fff;
  margin-left: 100px;
  font-size: 32px;
}

main {
  margin-top: 25px;
}

section h2 {
  border-bottom: 2px solid darkgrey;
}

.table {
  margin-top: 25px;
}

.table thead th {
  border: 1px solid darkgrey;
}

.table thead tr {
  background-color: lightgrey;
  text-align: center;
  border: 1px solid darkgrey;
}

.table tbody tr , td {
  text-align: center;
  border: 1px solid darkgrey;
}

form {
  display: flex;
  margin-top: 50px;
}

label {
  margin: auto 5px auto 0;
}

form .form-control {
  width: 200px;
  margin-right: 1em;
}

/* estilo para validacoes */

.erro-validacao {
  color: #f73859;
  font-size: 14px;
}

.possui-erro-validacao {
  color: #f73859;
}